:root {
  --body-bg-color: rgb(235, 235, 235);
  --card-bg-color: rgb(245, 245, 245);
  --text-color: 0, 0, 0;
  --alt-text-color: rgb(234, 234, 234);
  --form-bg-color: rgba(255, 255, 255, 0.9);
  --blockquote-color: 103, 106, 109;
  --color1: 253, 58, 74; /* Red */
  --color2: 245, 128, 37; /* Orange */
  --color3: 255, 167, 0; /* Yellow */
  --color4: 123, 113, 81; /* Brown */
  --color5: 91, 170, 9; /* Lime */
  --color6: 26, 152, 90; /* Green */
  --color7: 59, 168, 221; /* Cyan */
  --color8: 0, 120, 215; /* Blue */
  --color9: 139, 102, 204; /* Purple */
  --color10: 228, 27, 144; /* Pink */
  --text-direction: ltr;
  --direction: left;
  --direction-rev: right;
  --fg-color: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    linear-gradient(to right, rgb(var(--theme-color)), rgb(var(--theme-color)));
  --style1Image: url(../../images/light-style1.png);
  --style2Image: url(../../images/light-style2.png);
  --style3Image: url(../../images/light-style3.png);
  --icon-padding: 0 0.5em 0 0;
  --sign: 1;
  --slider-right: unset;
  --slider-left: 0.25rem;
}

[data-direction="rtl"] {
  --text-direction: rtl;
  --direction: right;
  --direction-rev: left;
  --icon-padding: 0 0 0 0.5em;
  --sign: -1;
  --slider-right: 0.25rem;
  --slider-left: unset;
}

[data-theme="dark"] {
  --body-bg-color: rgb(24, 24, 30);
  --card-bg-color: rgb(42, 42, 48);
  --text-color: 234, 234, 234;
  --alt-text-color: rgb(0, 0, 0);
  --form-bg-color: rgba(0, 0, 0, 0.9);
  --blockquote-color: 148, 146, 143;
  --fg-color: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)),
    linear-gradient(to right, rgb(var(--theme-color)), rgb(var(--theme-color)));
  --style1Image: url(../../images/dark-style1.png);
  --style2Image: url(../../images/dark-style2.png);
  --style3Image: url(../../images/dark-style3.png);
}

@font-face {
  font-family: "Lato Regular";
  src: url(../../fonts/Lato-Regular.woff2) format("woff2"), url(../../fonts/Lato-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Lato Heavy";
  src: url(../../fonts/Lato-Heavy.woff2) format("woff2"), url(../../fonts/Lato-Heavy.woff) format("woff");
  font-display: swap;
}

/* @font-face {
  font-family: "pt-icons";
  src: url("../../fonts/pt-icons.woff?31kazk") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */

@font-face {
  font-family: "periodic-table";
  src: url("../../fonts/periodic-table.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.iconFont {
  font-family: "periodic-table";
  text-transform: none;
  font-size: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
}

.text-left {
  text-align: var(--direction);
}

.text-right {
  text-align: var(--direction-rev);
}

.solName,
.slightlySolName,
.solubleName,
.insolubleName,
.unavailableName {
  display: none;
}

#storeLink,
#settingsLink,
#translateLink,
#printableLink,
#themeLink {
  display: block;
}

@media (min-width: 768px) {
  #storeLink,
  #settingsLink,
  #translateLink,
  #printableLink,
  #themeLink,
  .newHeader {
    display: none;
  }
}
@media (min-width: 1200px) {
  #storeLink,
  #settingsLink,
  #translateLink,
  #printableLink,
  #themeLink,
  .solName,
  .slightlySolName,
  .solubleName,
  .insolubleName,
  .unavailableName,
  .newHeader {
    display: block;
  }

  .solShort {
    display: none;
  }
  .grid-item {
    height: 66px;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
  height: 100%;
  scroll-behavior: smooth;
  direction: var(--text-direction);
}

body {
  line-height: 1.75;
  text-rendering: optimizeLegibility;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  opacity: 1;
  transition: 0.1s opacity;
  -ms-transition: 0.1s opacity;
  background-color: var(--body-bg-color);
  color: rgb(var(--text-color));
}

body.fade-out {
  opacity: 0;
  transition: none;
  -ms-transition: none;
}

.normalFont {
  font-family: "Lato Regular", "Special Regular", sans-serif;
}

.heavyFont {
  font-family: "Lato Heavy", "Special Heavy", sans-serif;
}

a {
  background: 0 0;
  text-decoration: none;
  /* -ms-transition: background-color 0.4s linear, color 0.4s linear;
  transition: background-color 0.4s linear, color 0.4s linear; */
}

a:active,
a:focus,
a:hover {
  outline: 0;
}

a:focus,
a:hover {
  /* text-decoration: none; */
  color: rgb(var(--theme-color));
}

svg:not(:root) {
  overflow: hidden;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input,
select {
  width: 100%;
  font: inherit;
  outline: 0;
  line-height: inherit;
}

button {
  cursor: pointer;
  -webkit-appearance: button;
  padding: 10px 12px;
  color: #fff;
  border: 1px solid transparent;
  float: var(--direction-rev);
}

input,
select {
  border: 1px solid #777777;
  padding: 9px 12px;
  background-color: var(--form-bg-color);
  color: rgba(var(--text-color), 0.8);
}

select {
  height: 36px;
  font-size: 14px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -ms-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 0.25rem;
}

button:hover {
  opacity: 0.8;
}

select:focus {
  border-color: rgb(var(--theme-color));
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(var(--theme-color), 0.4);
}

.sort {
  font-size: 0.94em;
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    linear-gradient(to right, rgb(var(--theme-color)), rgb(var(--theme-color))); */
  background-color: var(--darker-color-50);
}

.navbar-toggle {
  width: auto;
  position: relative;
  /*padding: 13px 14px 17px;*/
  background: transparent;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1rem;
  margin-top: 0.25rem;
}

.close {
  font-size: 28px;
  -webkit-appearance: none;
  padding: 0 5px;
  margin-top: -36px;
  width: auto;
  background-color: transparent;
  color: #fff;
}

.text-center {
  text-align: center;
}

.container {
  padding: 84px 1rem 0;
  margin: 0 auto;
}

#compareTop {
  padding: 12px 10px 0;
}

.padding-top-42 {
  padding-top: 42px;
}

.margin-top-30 {
  margin-top: 30px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

#topRowCompare {
  position: fixed;
  top: 50px;
  z-index: 100;
  width: calc(100% - 17px);
  height: 80px;
  background-color: var(--body-bg-color);
  margin-right: -25px;
  margin-left: -25px;
}

[data-direction="rtl"] #topRowCompare {
  margin-left: -25px;
}

@media (min-width: 768px) {
  #topRowCompare,
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  #topRowCompare,
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  #topRowCompare,
  .container {
    width: 1170px;
  }
}

@media (min-width: 1724px) {
  #topRowCompare,
  .container {
    width: 1688px;
  }
}

.row {
  margin-right: -1rem;
  margin-left: -1rem;
}

.col-xs-4 {
  position: relative;
  min-height: 1px;
  padding: 0 1rem;
  width: 33.33333333%;
}

.col-xs-4,
.navbar-brand {
  float: var(--direction);
}

table,
.table {
  border-spacing: 0;
  display: table;
}

.sticky {
  position: sticky;
  top: 0;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.grid-print {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1em;
}

@media (min-width: 992px) {
  .grid-print {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1724px) {
  .grid-print {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.flex-all-wrap {
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.flex-cell {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 1rem;
  box-sizing: border-box;
}

.flex-cell:before {
  content: "";
  display: table;
  padding-top: 100%;
}

.flex-item {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#firstSquare,
#secondSquare {
  margin: 0;
}

#secondSquare {
  padding: 25px;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.px-4 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.pb-8 {
  padding-bottom: 2rem;
}

.m-2 {
  margin: 0.5rem;
}

/* #footer > div > a {
  text-decoration: none;
} */

.justify-center {
  justify-content: center;
}

.content-center {
  align-content: center;
}

.self-center {
  align-self: center;
}

.elements {
  display: block;
}

/* .elements:hover{ */
/* color: currentColor; */
/* } */

.list > div {
  min-width: 300px;
}

@media (min-width: 768px) {
  .flex-wrap {
    flex-wrap: nowrap;
  }
}

.justify-between {
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  margin: 0 -1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
  /* column-gap: 2rem; */
  margin: 0 -1rem;
}

.grid-row-gap-10 {
  grid-row-gap: 10px;
}

#settingPeriodicTable {
  grid-column: 1 / span 2;
  border-bottom: 2px solid rgba(var(--theme-color));
  margin: 1rem;
  padding: 0;
}
.items-center {
  align-items: center;
}
.self-start {
  align-self: flex-start;
}

.padding-0 {
  padding: 0;
}

.margin-y-10 {
  margin: 10px 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.new-table {
  margin: 10px 0;
  padding: 0 1rem;
}

.table > tbody > tr > td {
  line-height: 1.42857143;
  border: 0;
  padding: 0.2%;
  vertical-align: middle;
}

.fade {
  opacity: 0;
  -ms-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
  padding: 10px;
  /* text-decoration: none; */
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #eee;
}

.navbar {
  text-transform: uppercase;
  line-height: normal;
}

.navbar-header {
  color: #fff;
}

.periodic-table-logo {
  width: 2.25rem;
  height: 2.25rem;
  margin: 0.375rem 1rem 0;
}

.no-overflow {
  position: absolute;
  right: 75px;
  left: 75px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#resultNumber {
  font-size: 1em;
  height: 30%;
  width: 100%;
  padding: 0.75em 0.75em 0;
}

#resultSymbol {
  font-size: 2.7em;
  height: 70%;
  width: 100%;
}

.font-size-1-5 {
  font-size: 1.5em;
}

.navbar-collapse {
  max-height: 340px;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

.navbar-collapse.in {
  overflow-y: auto;
}

@media (min-width: 768px) {
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .navbar-collapse.collapse {
    display: block;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdownLink ul {
    width: unset;
  }
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar-nav {
  margin: 0 -1rem;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

#logs > li:not(.versionHeader),
#features > li {
  text-indent: -1.5rem;
  padding-left: 1.5rem;
  list-style-type: none;
}

#logs > li:not(.versionHeader)::before {
  content: "J";
  font-family: "periodic-table";
  padding: 0 7px 0 0;
}

#features > li::before {
  content: "c";
  font-family: "periodic-table";
  padding: var(--icon-padding);
}

.versionHeader {
  margin-left: -1rem;
  margin-right: -1rem;
  list-style-type: none;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-nav > li > a {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: -1rem;
  }
  .navbar-right {
    padding-right: 10px;
    float: var(--direction-rev);
  }
  .navbar-header,
  .navbar-nav,
  .navbar-nav > li {
    float: var(--direction);
  }
}

.navbar-default {
  border-color: transparent;
  color: #777;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 12px;
  display: flex;
  line-height: 20px;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.7);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #555;
  background-color: #e7e7e7;
}

.navbar-default,
button {
  background-color: rgb(var(--theme-color));
}

.navbar-default,
.navbar-collapse.in,
.modal-header {
  /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35)),
    linear-gradient(to right, rgb(var(--theme-color)), rgb(var(--theme-color))); */
  background-color: var(--darker-color-50);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -ms-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-clip: padding-box;
  outline: 0;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=75);
  opacity: 0.75;
}

.modal-header {
  min-height: 16.42857143px;
  padding: 1rem;
  color: #fff;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
}

.modal-body {
  position: relative;
  padding: 20px;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.bottom-rounded {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}

.container:after,
.container:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.row:after,
.row:before {
  display: table;
  content: " ";
}

.container:after,
.nav:after,
.navbar-collapse:after,
.navbar-header:after,
.navbar:after,
.row:after {
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

b,
body,
canvas,
center,
div,
form,
html,
i,
li,
nav,
span,
table,
tbody,
td,
tr,
u,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*,
a {
  margin: 0;
  padding: 0;
}

a {
  color: var(--fg-color);
}

sub,
sup {
  font-size: 75%;
  vertical-align: baseline;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  -ms-interpolation-mode: bicubic;
  height: auto;
  width: 100%;
  max-width: 100%;
}

img,
nav {
  display: block;
}

canvas {
  display: inline-block;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.content-wrapper {
  padding-bottom: 2rem;
}

.box-content {
  padding: 1.5rem;
  overflow: hidden;
}

/* .list a {
  text-decoration: none;
} */

.masonry {
  columns: 4 300px;
  column-gap: 30px;
}

.masonry-col {
  margin-top: 30px;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  border-top: 2px solid rgb(var(--theme-color));
  border-radius: 0.25rem;
}

#elementPicture {
  border-radius: 0.25rem;
}

#elementPic {
  border-radius: 0.125rem;
}

.masonry-col,
.list-content {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.blog-thumb {
  position: relative;
  overflow: hidden;
}

#imgDesc,
#feature1 {
  padding-top: 1rem;
}

.block {
  display: block;
}

.webLink {
  padding: 0.5rem 0;
  display: block;
}

.linkText {
  padding-left: 5px;
  padding-right: 5px;
}

.underlineLink {
  padding-bottom: 0.125rem;
  border-bottom: 2px solid rgb(var(--theme-color));
}

#headerwrap {
  padding-top: 60px;
  overflow-x: auto;
}

.text-upper {
  text-transform: uppercase;
}

.padding-top-5 {
  padding-top: 5px;
}

.headerOutline {
  display: inline-block;
  text-transform: uppercase;
  padding: 0.25rem 1.5rem 2px 1.5rem;
  border-radius: 1rem;
  margin: 0 -2.25rem 1rem;
  color: var(--alt-text-color);
  background: var(--fg-color);
}

#elementDiagram {
  padding: 43px 0 1rem;
}

.list-content {
  overflow: hidden;
}

.line-height-normal {
  line-height: normal;
}

.line-height-2 {
  line-height: 2;
}

.listGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 2rem;
}

.listSym,
.listNum {
  width: 60px;
}

.listName,
.listSym,
.listNum {
  height: 60px;
  line-height: 60px;
}

.listName {
  width: calc(100% - 120px);
}

.listSym {
  background-color: rgba(var(--theme-color), 0.3);
}

.listNum {
  background: linear-gradient(
    calc(var(--sign) * 45deg),
    transparent 0%,
    transparent 50%,
    rgba(var(--theme-color), 0.3) 50%,
    rgba(var(--theme-color), 0.3) 100%
  );
  position: relative;
  font-size: 0.85em;
}

.listNum > * {
  position: absolute;
  top: -13px;
  left: unset;
  right: 10px;
}

[data-direction="rtl"] .listNum > * {
  left: 10px;
  right: unset;
}

#pageHeader {
  color: #eee;
  line-height: 50px;
  font-size: 1rem;
}

.top-container {
  margin: 0 auto;
}

.m-x-15 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.m-b-30 {
  margin-bottom: 30px;
}

#mainCompare {
  padding-top: 28px;
}

#ptable {
  table-layout: fixed;
  font-size: 1.5em;
}

.gap {
  height: 1.5em;
}

#groupPeriod,
.groups,
.periods {
  font-size: 0.742em;
}

.eleNum {
  padding: 0 6%;
  height: 22%;
  font-size: 0.78em;
}

.eleSym {
  height: 33%;
  text-align: center;
  font-size: 1.14em;
}

.eleNm,
.eleWt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 6%;
  font-size: 0.56em;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#details {
  font-size: 0.82em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 2em;
  grid-template-rows: repeat(6, 1fr);
  padding: 0.25em 1em;
}

.innerSnippet {
  display: grid;
  grid-template-columns: 10.5em 1fr;
  grid-column-gap: 1em;
  padding: 1em;
}

.snippetGap {
  width: 3.5%;
}

.width-100 {
  width: 100%;
}

.square33 {
  height: 33%;
  width: 100%;
}

.square {
  height: 100%;
  width: 100%;
}

#snippet,
#lightTeeHeader,
#darkTeeHeader {
  font-size: 1.2em;
}

#snippetNum {
  padding: 4% 6%;
  height: 25%;
}

#snippetSym {
  font-size: 2.8em;
}

#snippetWt {
  padding: 6% 6% 0;
}

#detailRow1 {
  font-size: 1.231em;
  /* vertical-align: middle; */
  /* height: 20%; */
  /* padding: 0 5%; */
  grid-column: 1/3;
}

/* #detailRow2 { */
/* width: 60%; */
/* } */

#detailRow2,
#detailRow3,
#detailRow4,
#detailRow5,
#detailRow6 {
  font-weight: 600;
  /* padding: 0 5%; */
}

.font-weight-600 {
  font-weight: 600;
}

#valueRow2 {
  width: 40%;
}

#modalImage,
#modalSettings {
  padding-left: 5px;
  display: block;
}

.padding-10 {
  padding: 0 10px;
}

#sortNm,
#sortNum,
#sortSym {
  font-size: 18px;
  line-height: 10px;
}

.category {
  font-size: 0.88em;
  padding: 3px 0 2px;
}

.unselectable {
  cursor: default;
}

.disable-select {
  -webkit-user-select: none;
  user-select: none;
}

#actinides,
#lanthanides {
  font-size: 0.9em;
}

#compareBg {
  background-color: transparent;
}

#elementNav {
  padding-top: 25px;
}

::-webkit-input-placeholder {
  color: #a9a9a9;
}

::-moz-placeholder {
  color: #a9a9a9;
}

:-ms-input-placeholder {
  color: #a9a9a9;
}

:-moz-placeholder {
  color: #a9a9a9;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 1.5rem;
}

.switch input {
  /*display: none;*/
  opacity: 0;
}

.slider,
.slider:before {
  position: absolute;
  -ms-transition: 0.4s;
  transition: 0.4s;
}

.slider {
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(var(--blockquote-color), 0.3);
}

.slider:before {
  content: "";
  height: 1rem;
  width: 1rem;
  left: var(--slider-left);
  right: var(--slider-right);
  bottom: 0.25rem;
  background-color: #fff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(calc(var(--sign) * 26px));
  -ms-transform: translateX(calc(var(--sign) * 26px));
  transform: translateX(calc(var(--sign) * 26px));
}

input:checked + .slider {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35)),
    linear-gradient(to right, rgb(var(--theme-color)), rgb(var(--theme-color)));
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(var(--theme-color));
}

.slider.round {
  border-radius: 1.5rem;
}

.slider.round:before {
  border-radius: 50%;
}

.eleTD {
  cursor: pointer;
}

.aboutHeader {
  font-size: 1.5em;
  padding: 0em 1em 1em;
  color: var(--fg-color);
}

@media (min-width: 1200px) {
  .aboutHeader {
    padding: 2em 1em 1em;
  }
}

#about {
  padding: 0 1em 1em;
}

#versionHist {
  padding: 2em 1em 0em;
}

#suppLang {
  padding: 2em 1em 1em;
}

#feature9 {
  padding-bottom: 1.5em;
}

#logs {
  padding: 0 1rem;
}

.ltrText {
  direction: ltr;
}

.newHeader,
.newFooter {
  background-color: #b50000;
  line-height: normal;
  border-radius: 0.25rem;
  padding: 0.25rem 6px 0;
  text-transform: uppercase;
}

.newFooter {
  margin: -12px 0 20px 0;
  font-size: 0.7em;
  color: #eaeaea;
  font-weight: 600;
}

.newHeader {
  margin: -1px 0 2px 6px;
  font-size: 0.9em;
}

@media (min-width: 768px) {
  .newHeader {
    margin: -10px 0 10px 2px;
  }
}

#colorTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

#colorTable > tbody > tr > td {
  width: 15%;
  margin: 0 1.8% 1.8%;
  padding-bottom: 15%;
  display: inline-block;
}

.hyphen {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.box-content,
.list-content,
.flex-item,
.modal-body {
  background-color: var(--card-bg-color);
}

.elements:hover,
.elements:focus {
  color: currentColor;
}

[data-style="2"] .alkaliMetals,
[data-style="2"] .alkalineEarthMetals,
[data-style="2"] .transitionMetals,
[data-style="2"] .postTransitionMetals,
[data-style="2"] .otherNonmetals,
[data-style="2"] .metalloids,
[data-style="2"] .halogens,
[data-style="2"] .nobleGases,
[data-style="2"] .lanthanides,
[data-style="2"] .actinides {
  background-color: transparent;
  border-bottom: 0.125em solid;
}

[data-style="3"] .alkaliMetals,
[data-style="3"] .alkalineEarthMetals,
[data-style="3"] .transitionMetals,
[data-style="3"] .postTransitionMetals,
[data-style="3"] .otherNonmetals,
[data-style="3"] .metalloids,
[data-style="3"] .halogens,
[data-style="3"] .nobleGases,
[data-style="3"] .lanthanides,
[data-style="3"] .actinides {
  background-color: transparent;
  border: 0.125em solid;
}

.alkaliMetals {
  background-color: rgba(var(--color10), 0.5);
}

[data-style="2"] .alkaliMetals,
[data-style="3"] .alkaliMetals {
  border-color: rgba(var(--color10), 0.5);
}

[data-style="2"] .alkaliMetals:hover,
[data-style="3"] .alkaliMetals:hover {
  color: rgb(var(--color10));
}

.alkalineEarthMetals {
  background-color: rgba(var(--color8), 0.5); /* Blue */
}

[data-style="2"] .alkalineEarthMetals,
[data-style="3"] .alkalineEarthMetals {
  border-color: rgba(var(--color8), 0.5);
}

[data-style="2"] .alkalineEarthMetals:hover,
[data-style="3"] .alkalineEarthMetals:hover {
  color: rgb(var(--color8));
}

.transitionMetals {
  background-color: rgba(var(--color1), 0.5); /* Red */
}

[data-style="2"] .transitionMetals,
[data-style="3"] .transitionMetals {
  border-color: rgba(var(--color1), 0.5);
}

[data-style="2"] .transitionMetals:hover,
[data-style="3"] .transitionMetals:hover {
  color: rgb(var(--color1));
}

.postTransitionMetals {
  background-color: rgba(var(--color9), 0.5); /* Deep Purple */
}

[data-style="2"] .postTransitionMetals,
[data-style="3"] .postTransitionMetals {
  border-color: rgba(var(--color9), 0.5);
}

[data-style="2"] .postTransitionMetals:hover,
[data-style="3"] .postTransitionMetals:hover {
  color: rgb(var(--color9));
}

.otherNonmetals {
  background-color: rgba(var(--color6), 0.5); /* Green */
}

[data-style="2"] .otherNonmetals,
[data-style="3"] .otherNonmetals {
  border-color: rgba(var(--color6), 0.5);
}

[data-style="2"] .otherNonmetals:hover,
[data-style="3"] .otherNonmetals:hover {
  color: rgb(var(--color6));
}

.metalloids {
  background-color: rgba(var(--color2), 0.5); /* Orange */
}

[data-style="2"] .metalloids,
[data-style="3"] .metalloids {
  border-color: rgba(var(--color2), 0.5);
}

[data-style="2"] .metalloids:hover,
[data-style="3"] .metalloids:hover {
  color: rgb(var(--color2));
}

.halogens {
  background-color: rgba(var(--color7), 0.5); /* Cyan */
}

[data-style="2"] .halogens,
[data-style="3"] .halogens {
  border-color: rgba(var(--color7), 0.5);
}

[data-style="2"] .halogens:hover,
[data-style="3"] .halogens:hover {
  color: rgb(var(--color7));
}

.nobleGases {
  background-color: rgba(var(--color5), 0.5); /* Lime */
}

[data-style="2"] .nobleGases,
[data-style="3"] .nobleGases {
  border-color: rgba(var(--color5), 0.5);
}

[data-style="2"] .nobleGases:hover,
[data-style="3"] .nobleGases:hover {
  color: rgb(var(--color5));
}

.lanthanides {
  background-color: rgba(var(--color3), 0.5); /* Yellow */
}

[data-style="2"] .lanthanides,
[data-style="3"] .lanthanides {
  border-color: rgba(var(--color3), 0.5);
}

[data-style="2"] .lanthanides:hover,
[data-style="3"] .lanthanides:hover {
  color: rgb(var(--color3));
}

.actinides {
  background-color: rgba(var(--color4), 0.5); /* Brown */
}

[data-style="2"] .actinides,
[data-style="3"] .actinides {
  border-color: rgba(var(--color4), 0.5);
}

[data-style="2"] .actinides:hover,
[data-style="3"] .actinides:hover {
  color: rgb(var(--color4));
}

#color1 {
  background-color: rgb(var(--color1));
}

#color2 {
  background-color: rgb(var(--color2));
}

#color3 {
  background-color: rgb(var(--color3));
}

#color4 {
  background-color: rgb(var(--color4));
}

#color5 {
  background-color: rgb(var(--color5));
}

#color6 {
  background-color: rgb(var(--color6));
}

#color7 {
  background-color: rgb(var(--color7));
}

#color8 {
  background-color: rgb(var(--color8));
}

#color9 {
  background-color: rgb(var(--color9));
}

#color10 {
  background-color: rgb(var(--color10));
}

.teeImage {
  width: auto;
  display: block;
  margin: 0 auto;
}

.teeLink {
  padding: 10px 0;
}

blockquote {
  color: rgb(var(--blockquote-color));
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-left: 5px solid rgba(var(--blockquote-color), 0.3);
}

#translationContent img {
  height: 1.5rem;
  width: auto;
  display: inline-block;
  margin-right: 0.5rem;
}

blockquote,
#translationContent p,
#translationContent h1,
#translationContent h2,
#translationContent h4 {
  margin-bottom: 1rem;
}

#translationContent h1,
#translationContent h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid rgba(var(--blockquote-color), 0.5);
}

.radio-toolbar {
  margin: 0 1rem;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: sans-serif, Arial;
  font-size: 1rem;
  background: rgba(var(--blockquote-color), 0.3);
  color: rgba(var(--blockquote-color), 0.5);
  border-radius: 0.25rem;
  line-height: 1.5rem;
  cursor: pointer;
  font-weight: 600;
}

.radio-toolbar label::before {
  content: "L";
  font-family: "periodic-table";
  padding: var(--icon-padding);
  line-height: 0;
  color: currentColor;
}

.radio-toolbar label:hover {
  border-color: rgba(var(--blockquote-color), 0.7);
  color: rgba(var(--blockquote-color), 0.7);
}

.radio-toolbar input[type="radio"]:focus + label {
  border-color: rgb(216, 216, 216);
}

.radio-toolbar input[type="radio"]:checked + label {
  color: rgb(255, 255, 255);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    linear-gradient(to right, rgb(var(--theme-color)), rgb(var(--theme-color)));
}

.radio-toolbar input[type="radio"]:checked + label::before {
  content: "J";
  font-family: "periodic-table";
  padding: var(--icon-padding);
  line-height: 0;
  color: var(--fg-color);
}

.radio-style label {
  opacity: 0.3;
  background: none;
  display: inline-flex;
}

.radio-style label:hover {
  opacity: 0.7;
}

.radio-style label::before {
  font-size: 30px;
  margin-top: -50%;
  align-self: center;
  color: rgb(var(--text-color));
}
.radio-style input[type="radio"]:checked + label::before {
  color: rgb(var(--text-color));
}

.radio-style input[type="radio"]:checked + label {
  opacity: 1;
}

#style1Label,
#style2Label,
#style3Label {
  background-size: contain;
  width: 44%;
  padding-top: 19.5%;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
}

#style1Label {
  background-image: var(--style1Image);
}

#style2Label {
  background-image: var(--style2Image);
}

#style3Label {
  background-image: var(--style3Image);
}

.twitter-share-button {
  height: 48px;
  padding: 10px;
  background-color: rgb(15, 91, 148);
  color: #fff;
  /* text-decoration: none; */
  margin: 0 auto;
}

.twitter-share-button:hover {
  background-color: rgba(15, 91, 148, 0.9);
  color: #fff;
  /* text-decoration: none; */
}

/* Electron */

.font-fam {
  font-size: 5em;
  font-weight: 500;
}

.one {
  animation: rotate 10s infinite linear;
}

.two {
  animation: rotate 12s infinite linear;
}

.three {
  animation: rotate 14.4s infinite linear;
}

.four {
  animation: rotate 17.28s infinite linear;
}

.five {
  animation: rotate 20.74s infinite linear;
}

.six {
  animation: rotate 24.88s infinite linear;
}

.seven {
  animation: rotate 29.86s infinite linear;
}
.electron {
  transition: all 0.1s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Scrollbar */

@media (hover: hover) {
  * {
    scrollbar-color: #888888 #f5f5f5;
    scrollbar-width: thin;
  }

  *::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  *::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #888888;
  }
}

/* Dropdown Link in Navbar */
.dropdownLink,
.dropdownLink ul li {
  color: #fff;
  /* background: darkorange; */
  display: block;
  /* float: left; */
  /* padding: 1rem; */
  position: relative;
  /* text-decoration: none; */
  transition-duration: 0.5s;
}

/* .dropdownLink a {
  color: #fff;
} */

.dropdownLink:hover,
.dropdownLink:focus-within {
  /* background: red; */
  cursor: pointer;
}

.dropdownLink:focus-within a {
  outline: none;
}

.dropdownLink ul {
  list-style: none;
  margin: 0;
  padding: 0.5em 0;
  visibility: hidden;
  opacity: 0;
  background-color: var(--darker-color-0);
  width: 100%;
  min-width: 12rem;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

.dropdownLink:hover > ul,
.dropdownLink:focus-within > ul,
.dropdownLink ul:hover,
.dropdownLink ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.dropdownLink ul li {
  clear: both;
  width: 100%;
  padding: 0.5em 1em;
}

/* Solubility Chart */

.grid-container {
  display: grid;
  overflow: auto;
  max-height: calc(100vh - 410px);
}
.grid-container .grid {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 0;
  margin: 0;
}
.grid-col {
  /* width: 150px;
  min-width: 150px; */
  text-align: center;
}

.grid-item--header {
  height: 100px;
  /* min-height: 100px; */
  position: sticky;
  position: -webkit-sticky;
  background-color: var(--card-bg-color);
  top: 0;
}

.grid-col--fixed-left {
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
  background-color: var(--card-bg-color);
}

.grid-item {
  height: 56px;
  /* border: 1px solid gray; */
  min-width: 50px;
  padding: 4px 8px;
  place-items: center;
  display: grid;
  margin: 0 6px 24px;
}

.slightlySol {
  color: rgb(var(--color3));
}

.soluble {
  color: rgb(var(--color6));
}

.insoluble {
  color: rgb(var(--color1));
}

.unavailable {
  color: rgb(var(--color9));
}

@media print {
  .navbar {
    display: none;
  }
  #headerwrap {
    padding-top: 0;
  }
}
